body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px); /* Extend to the bottom minus the header and button row heights */
}
.full-width {
    width: 100%;
    height: 100%; /* Take up all the height of its parent */
    max-height: 600px;
    overflow: auto; /* Add a scrollbar when necessary */
    background-color: #f0f0f0; /* Light grey background to make it visible */
}
.half-width {
    width: 49%;
    height: 200px; /* Adjust height as needed for ChemDoodle canvas */
    border: 10px solid rgb(190, 26, 26);
    padding: 10px;
    overflow: auto;
}

#outputDiv {
    position: relative; /* Set to relative to position children absolutely within it */
    display: flex; /* Use flexbox to center the canvas */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#messageArea {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    text-align: center; /* Center the text within the message area */
    width: calc(100% - 20px); /* Full width minus padding */
}

#sketcher {
    border: none; /* Remove the border */
    display: none; /* Hide the canvas initially */
}
.button-row {
    height: 50px; /* or whatever height you want */
    justify-content: flex-start;
}
